html, body {
    height: 100%;
    position: relative;
    min-width: 1280px;
    overflow: hidden;
}

#background
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('coui://pa/ui/backgrounds/default.png') bottom left / cover no-repeat;
    z-index: -1;
}

#content-wrapper
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 35px);
}

#content
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-left: 20px;
    height: 100%;
    position: relative;
}

#logo-background
{
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: 40px;
    right: 30px;
    bottom: 30px;
    background: url('uncached://pa/ui/logo/logo.png') center right no-repeat;
    opacity: 0.1;
    background-size: contain;
    background-position: top center;
    z-index: -1;
}

#logo-img
{
    top: 30px;
    left: 30px;
    right: 30px;
    flex-grow: 0;
    opacity: 0.1;
    width: calc(100% - 60px);
    object-fit: contain;
    position: absolute;
    z-index: -1;
    align-self: center;
}

#build-info
{
    position: absolute;
    top: 5px;
    right: 15px;
    text-align: right;
}

#content-main
{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50%;
    max-width: 50%;
}

#commander-img
{
    max-width: 100%;
    align-self: flex-start;
    object-fit: contain;
}

#commander-img:hover
{
    opacity: 0.9;
}

#messages
{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
    justify-content: flex-start;
    margin-top: 20px;
}

.message-container, .message-warning
{
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    margin-bottom: 20px;
}

.message-warning
{
    flex-direction: column;
}

.message-warning .title
{
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 10px;
}

.message-container .external-link
{
    margin-left: 5px;
    flex-shrink: 0;
}

.message-container .link
{
    color: white;
}

.message-container .link:hover
{
    color: black;
}

.message-block
{
    display: flex;
    align-items: center;
}

.message-status-block
{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-shrink: 0;
    align-items: baseline;
    background-color: rgba(255,255,255,0.1);
}

.message-status-text
{
    margin-right: 10px;
    display: flex;
    flex-shrink: 0;
    align-items: baseline;
}


.message-icon, .message-stream-icon
{
    flex-shrink: 0;
    /* max-height: 20px; */
}

.message-icon
{
    margin-right: 10px;
}

.message-stream-icon
{
    margin-left: 10px;
}

.message-link-icon
{
    font-family: "Glyphicons Halflings";
}

.message-status-timer
{
    font-family: "Arial Unicode", "Arial Unicode MS", "Lucida Console", "Courier New", "Courier", monospace;
}

#events
{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#warnings
{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

#content-right
{
    padding-top: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    margin-left: 20px;
    z-index: 1;
    max-width: 50%;
}

#tabs
{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    background-color: black;
    max-width: 100%;
}

#tabs .tab
{
    padding: 10px;
    flex-shrink: 0;
}

#tabs-content
{
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    height: calc(100% - 30px);
    align-items: flex-end;
    justify-content: flex-end;

}

.tab-content-wrapper
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-header
{
    text-transform: uppercase;
    font-family: "Sansation";
    font-weight: bold;
    font-size: 16px;
    flex-shrink: 0;
    display: flex;
    margin-bottom: 10px;
}

.content-footer
{
    margin-top: 10px;
}

.content-empty
{
    color: #76FFD3;
    margin: 10px 0px 0px;
}

#menu
{
    margin: 0;
    flex-grow: 1;
    width: 250px;
    overflow: visible;
    height: calc(100% - 70px);
}

.external-link
{
    font-family: "Glyphicons Halflings";
    float: right;
}

#footer
{
    display: flex;
    flex-direction: row;
}

#copyright
{
    /* From btn_std_ix */
    color: #00B3FF;
    text-shadow: 0px 0px 10px #00B3FF;

    padding: 12px;
    flex-shrink: 1;
    font-size: 13px;
}

#intro-buttons
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 13px;
}

#news-button
{
    color: white;
    flex-shrink: 1!important;
}

#news .news-post
{
    overflow: auto;
    padding: 5px;
    line-height: 1.3em;
}

#news p, li, figure
{
    margin: 10px 0;
    padding: 0;
}

#news .news-title
{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#news hr
{

}

#news figure img
{
    max-width: 100%;
    object-fit: scale-down;
}

#news ul
{
    list-style: square;
    list-style-position: inside;
    margin: 10px 0;
    margin-left: 10px;
    padding: 0;
    padding-left: 15px;
    text-indent: -15px;
}

.div_pa_classic_logo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.background_overlay {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
    float: left;
    z-index: -3;
}

    .titans-logo
    {
        margin-left: 300px;
        margin-top: 20px;
        margin-right: 550px;
        opacity: 0.2;
    }

    .titans-logo img
    {
        max-width:100%;
    }

    .background_overlay .top {
        width: 100%;
        height: 8%;
        margin-top: 2.5%;
        position: relative;
    }

    .background_overlay .bottom {
        width: 100%;
        position: relative;
    }

.foreground_overlay {
    height: 100%;
    max-width: 50%;
    max-height: 70%;
    position: absolute;
    left: 280px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    bottom: 0;
}


@-webkit-keyframes slide_to_right_1 {
    0% {
        left: 0px;
        opacity: 0;
    }

    50% {
        left: 360px;
        opacity: 1;
    }

    100% {
        left: 720px;
        opacity: 0;
    }
}

#logo_slide_top {
    -webkit-animation-name: slide_to_right_1;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slide_to_right_2 {
    0% {
        left: -200px;
        opacity: 0;
    }

    50% {
        left: 0px;
        opacity: 1;
    }

    100% {
        left: 200px;
        opacity: 0;
    }
}

#logo_slide_bottom {
    -webkit-animation-name: slide_to_right_2;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

#background_commander {
    /* max-height: 100%; */
    /* max-width: 100%; */
    width: auto;
    height: 100%;
    /* width: 50%; */
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.66s;
    transition-timing-function: ease-in-out;
}

    #background_commander.loaded {
        opacity: 1;
    }

#start_column
{
    height: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    background: url(coui://ui/main/game/game_over/img/bground_summary.png) center center no-repeat rgba(0,0,0,.2);
    border: 1px solid rgba(255,255,255,.1);
    border-width: 0px 1px;
    display: flex;
    box-shadow: 0px 0px 40px rgba(0,0,0,.6);
}

.main_bar
{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.65) 100%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-width: 1px 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    height: 100%;
}

#menu_cont
{
    height: 100%;
    width: 750px;
    overflow: auto;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    font-family: "Sansation";
    font-weight: bold;
}

#menu_cont::-webkit-scrollbar
{
    display: none;
}

#user_info
{
    padding: 10px;
    width: 250px;
}

#user_info #user-details
{
    display: block;
}

#user_info .input_label
{
    margin: 0px 0px 4px 0px;
}

#user_info > div
{
    display: flex;
}

#user_info .username
{
    min-height: 30px;
    flex-grow: 1;
    transition: opacity .6s;
}

#signin
{
    margin: 2px 0px 10px;
}

#login
{
    width: auto;
}

#login input
{
    background: #0F384B;
    border: 1px solid #054D57;
    margin: 0px 0px 6px 0px;
}

#player-display-name
{
    font-size: 24px;
    padding-top: 4px;
    color: #fff;
    text-shadow: 0 0 20px rgba(0,179,255,1);
}

#sign_out
{
    font-size: 11px;
    font-family: "Sansation";
}

#login input
{
    width: 100%;
}

#navigation_panel
{
}

#navigation_items {
    position: relative;
    padding: 0px 10px;
}

.nav_item_disabled, .nav_item_disabled:hover, .nav_item_disabled:active,
.nav_sub_item .nav_item .nav_item_disabled {
    color: #1E535D;
    text-shadow: none;
    display: block;
    opacity: .5;
}

.nav_item {
    width: 230px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

    .nav_item:last-of-type {
        border-bottom-color: rgba(255, 255, 255, 0.1);
    }

.nav_item_text {
    font-size: 16px;
    text-transform: uppercase;
    color: #61E6FF;
    padding: 10px 10px 10px 14px;
    display: block;
    text-shadow: 0px 0px 10px #00b3ff;
}

    .nav_item_text.btn_std_ix_active {
        color: #fff;
        text-shadow: 0px 0px 10px #fff;
    }

.nav_item_text_disabled {
    color: #1E535D;
    text-shadow: none;
    pointer-events: none;
    transition: color 1s, text-shadow 1s;
}

.nav_sub_item
{
    position: absolute;
    left: 230px;
    top: 0px;
    background: #04222A;
    border: 1px solid rgb(30, 122, 161);
    box-shadow: 0px 0px 20px #000;
    z-index: 999;
}

    .nav_sub_item .nav_item {
        position: relative;
        white-space: nowrap;
    }

    .nav_sub_item .sub_label {
        font-size: 10px;
    }

#navigation_items li a,
#nav_settings a,
#nav_quit a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background: -webkit-linear-gradient(#fff, #a0a0a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .8px;
    display: block;
    margin: 6px;
}

.nav_cascade_group {
    position: relative;
}

.nav_carat {
    float: right;
    font-size: 14px;
    text-shadow: none;
}

#nav_settings {
    display: inline-block;
}

#sidebar_bground {
}

    #sidebar_bground .wrapper {
        height: 100%;
        width: 320px;
        box-shadow: 0px 0px 50px #000;
        display: flex;
        justify-content: center;
        margin: 0px 0px 0px 16px;
        flex-shrink: 0;
    }

#sidebar {
    height: 100%;
    width: 100%;
    background: #111;
    box-shadow: inset 0px 0px 40px #333;
    z-index: 1000;
    margin: 0px 0px;
    padding: 0px 0px 0px 10px;
    border: 1px solid rgba(255,255,255,.2);
    border-width: 0px 1px;
}

#sidebar_cont {
    margin: 16px 0px 0px 0px;
    height: 100%;
}

#sidebar .stats {
    position: absolute;
    text-align: right;
    width: 300px;
    top: 0;
    left: -315px;
}

    #sidebar .stats li {
    }

    #sidebar .stats .stat {
        font-size: 2.0em;
        font-weight: bolder;
        color: white;
    }

    #sidebar .stats .description {
        font-size: 0.75em;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
    }

.tab-content {
    height: 100%;
    width: 100%;
    padding: 0px;
    font-family: "Sansation";
    font-size: 13px;
    height: 100%;
    flex-grow: 1;
    position: relative;
    border-top: 1px solid rgb(4, 134, 189);
}

#sidebar .footer {
    text-align: center;
}

.div_watermarks
{
    position: absolute;
    bottom: 90px;
    left: 0;
    display: flex;
}

.div_kickstarter_watermark
{
    height: 32px;
    width: 32px;
    background: url(coui://ui/main/game/start/img/img_kickstarter_logo_rest.png) top right no-repeat;
    background-size: 32px 32px;
    transition: background .15s;
    text-align: right;
    flex-shrink: 0;
    margin-bottom: 20px;
}

    .div_kickstarter_watermark:hover {
        background: url(coui://ui/main/game/start/img/img_kickstarter_logo_hover.png) top right no-repeat;
        background-size: 32px 32px;
    }

    .div_kickstarter_watermark:active {
        background: url(coui://ui/main/game/start/img/img_kickstarter_logo_hover.png) top right no-repeat;
        background-size: 32px 32px;
        opacity: .5;
    }

    .div_kickstarter_watermark img {
    }

.div_news_video {
    width: auto;
    height: auto;
    text-align: center;
    overflow: hidden;
}

#reconnectBtnGroup {
    padding: 20px;
}

#reconnect {
    margin: 8px;
}

#small-connecting {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 8px;
}

/*----- LINK STEAM UI
-----------------------------------------------------------------*/

.div_account_cont {
    margin-top: 100px;
}

.div_create_link_form_cont {
    display: block;
}

.div_signin_link_form_cont {
    display: block;
}

.div_confirm_link_form_cont {
    display: block;
}

.div_send_email_form_cont {
    display: block;
}

.div_confirm_email_cont {
    display: block;
}

.div_create_account_cont {
    width: 600px;
    margin: 20px auto 0;
}

.div_account_form_lbl {
    font-size: 1em;
    text-transform: uppercase;
    color: #888;
    margin: 4px 8px 0 0;
}

.td_account_form_lbl {
    width: 160px;
    text-align: right;
}

.td_account_form_input {
    padding: 0 0 8px;
}

.input_account_form {
    width: 200px;
}

.account_form_error {
    margin: 4px 0 0 8px;
    display: block;
}


canvas {
    position: absolute;
}

.null-msg {
    color: #76FFD3;
    margin: 20px 0px 0px;
}

.ytv-list .ytv-active a {
    border-left: none !important;
}

.video_background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1000;
}

#link-to-youtube {
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0.4;
    height: 80px;
    width: 120px;
}

.version {
    font-size: 13px;
    font-family: "Sansation";
    text-shadow: none;
    text-transform: none;
}

.copyright
{
    position: absolute;
    bottom: 34px;
    left: 0px;
    color: #999;
    font-size: 11px;
    display: flex;
    width: 250px;
}

.view_intro
{
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*----- MATCH MAKING PANEL
-----------------------------------------------------------------*/
#matchmaking {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#uberNetRegion {
    margin-top: 10px;
    width: 200px;
}

.div_tutorial_popup {
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.tutorial_dialog {
    width: 465px;
    text-align: center;
    position: relative;
    text-shadow: 0px 0px 10px rgb(0, 179, 255);
}

    .tutorial_dialog.debut {
        width:800px;
    }

    .tutorial_dialog div {
        display: flex;
        align-items: center;
    }

    .tutorial_dialog .header {
        height: 30px;
        border-bottom: 30px solid #00303F;
        border-right: 30px solid transparent;
    }

        .tutorial_dialog .header > .msg {
            height: 30px;
            margin-bottom: -30px;
            padding: 0 0 0 8px;
        }

    .tutorial_dialog .image {
        position: relative;
    }

        .tutorial_dialog .image > .headline {
            width: 280px;
            color: #FFF;
            font-family: "Sansation";
            font-weight: bold;
            font-size: 42px;
            text-transform: uppercase;
            text-align: left;
            text-shadow: 0 0 24px #B65353;
            line-height: 1;
            position: absolute;
            top: 10px;
            left: 10px;
        }

    .tutorial_dialog .text {
        background: #02141a;
        padding: 0 16px;
        flex-direction: column;
    }

    .tutorial_dialog .headline {
        color: #61E6FF;
        font-size: 24px;
        font-family: "Sansation";
        font-weight: bold;
        margin: 20px 0 4px 0;
        padding: 0 16px;
    }

    .tutorial_dialog .tagline {
        color: #D2FFFD;
        font-size: 16px;
        text-align: center;
        margin: 2px 0 0 0;
    }

        .tutorial_dialog .tagline.debut {
            max-width: 420px;
        }

    .tutorial_dialog .div_commit {
        margin: 24px 0 0 0;
        flex-direction: column;
        justify-content: center;
    }

        .tutorial_dialog .div_commit > button {
            margin: 0 0 12px 0;
        }

    .tutorial_dialog .footer {
        border-top: 20px solid #011E27;
        border-right: 20px solid transparent;
    }

.div_account_creation div.tagline.debut {
    min-width: 452px;
}

.div_account_creation div.warning {
    text-align: right;
    color: #FF3300;
    font-size: 12px;
    margin: 2px 0 0 0;
    min-width: 452px;
}

.div_account_creation div label {
    min-width: 164px;
    text-align: left;
}

.div_account_creation div input {
    min-width: 288px;
}

.btn_header_close {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 30px;
    top: 0px;
    opacity:.4;
}

    .btn_header_close:hover {
        background-color: rgba(255,255,255,.2);
    }


.btn_play_tutorial {
    height: 40px;
    width: 225px;
    font-size: 16px;
}

.btn_continue_tutorial {
    height: 40px;
    width: 325px;
    font-size: 16px;
}

.btn_restart_tutorial {
    height: 40px;
    width: 325px;
    font-size: 16px;
}

.btn_dismiss_popup {
    padding: 6px 40px;
    margin: 0 0 4px;
    z-index: 1;
}

.div_community_content {
    display: flex;
    flex-direction: column;
}

.global_message_content
{
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.offline_warning {
    color: #000;
    line-height: 1.3;
    background: linear-gradient(to top, #E0B300 0%, #FFC200 100%);
    padding: 8px 12px;
    border: 2px solid #FFE000;
    box-shadow: 0 0 20px #FC0;
    display: flex;
    flex-direction: column;
}

    .offline_warning > .title {
        font-family: "Sansation";
        font-weight: bold;
        font-size: 16px;
    }

.community_content {
    width: 500px;
    padding-bottom: 40px;
    padding-top: 4.2%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

    .community_content > .all_view {
        display: flex;
        flex-direction: column;
    }

    .community_content > .tab_controls {
        height: 40px;
        width: 500px;
        display: flex;
        position: absolute;
        bottom: 0;
        right: -1px;
    }

    .community_content > .tab_content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

.community_tab {
    width: 70px;
    color: #fff;
    background: rgba(255,255,255,.06);
    margin: 0 1px 0 0;
    padding: 8px 12px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

    .community_tab > img {
        flex-shrink: 0;
    }

    .community_tab.active {
        background: rgba(255,255,255,0.12);
    }

.tab_update {
    color: #fff;
    justify-content: flex-start;
    flex-grow: 1;
}

.section_header {
    margin: 8px 0;
    text-transform: uppercase;
    font-family: "Sansation";
    font-weight: bold;
    font-size: 16px;
    flex-shrink: 0;
    display: flex;
}

    .section_header.update {
        margin: 8px 0px;
        display: flex;
        align-items: flex-end;
    }

.section_footer {
    min-height: 12px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
}

#section_updates {
    height: 33%;
    min-height: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.update_toggle {
    padding: 6px 8px 8px;
    text-align: center;
    text-transform: capitalize;
}

.full_update
{
    color: #D2FFFD;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, rgba(6, 72, 102, 0.9) 85%);
    border: 1px solid #133D63;
    padding: 8px 12px 12px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.section_post {
    height: 100%;
    flex-grow: 1;
    margin-right: -12px;
    position: relative;
    overflow: auto;
}

.item_post {
    margin: 0 16px 0 0;
}

.update_title {
    font-size: 20px;
    font-family: "Sansation";
    font-weight: bold;
    text-transform: uppercase;
    color: #61E6FF;
    text-shadow: 0px 0px 10px rgba(97, 245, 252, 0.3);
    margin: 0px 0px 8px 0px;
}

.update_content, .update_date, .update_author {
    height: auto;
    width: auto;
    line-height: 1.5;
}

    .update_content > h1 {
        line-height: 1;
    }

.update_content ul
{
    margin-left: 20px;
    list-style-type: square;
    list-style-position: outside;
}

.update_content img
{
    max-width: 100%;
}
.forum_row {
    font-size: 16px;
    font-family: "Sansation";
    font-weight: bold;
    background-color: #002F46;
    border: 1px solid #133D63;
    padding: 12px 8px;
    margin: 16px 0 0 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

    .forum_row img {
        margin: 0 8px 0 0;
    }

.community_content .columns {
    position: relative;
    flex-grow: 1;
    display: flex;
}
